<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moheeeetgupta.ladybuddy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.moheeeetgupta.ladybuddy.AboutUs"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.MagBtnInst"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.SosInsructionsActivity"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.Magnetometer"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.MagnoInst"
            android:exported="true"
            android:label="@string/instructions"
            android:parentActivityName="com.moheeeetgupta.ladybuddy.ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.Outside"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.ChangingRoom"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.Bedroom"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.Bathroom"
            android:exported="true" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.ChoosenActivity"
            android:exported="true"
            android:label="@string/choose_buttons"
            android:parentActivityName="com.moheeeetgupta.ladybuddy.MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.NewsActivity"
            android:exported="true"
            android:label="@string/news"
            android:parentActivityName="com.moheeeetgupta.ladybuddy.MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.Instructions"
            android:label="@string/instruction"
            android:parentActivityName="com.moheeeetgupta.ladybuddy.MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name="com.moheeeetgupta.ladybuddy.webactivity" />
        <activity
            android:name="com.moheeeetgupta.ladybuddy.SmsActivity"
            android:label="@string/setting"
            android:parentActivityName="com.moheeeetgupta.ladybuddy.MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name="com.moheeeetgupta.ladybuddy.CurrentLocation" />
        <activity android:name="com.moheeeetgupta.ladybuddy.Flashing" />
        <activity android:name="com.moheeeetgupta.ladybuddy.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.moheeeetgupta.ladybuddy.MainActivity" />

        <receiver android:name="com.moheeeetgupta.ladybuddy.ScreenOnOffReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="number.action.string" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.moheeeetgupta.ladybuddy.ScreenOnOffBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>