<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moheeeetgupta.ladybuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MagBtnInst"
            android:exported="true" />
        <activity
            android:name=".SosInsructionsActivity"
            android:exported="true" />
        <activity
            android:name=".Magnetometer"
            android:exported="true" />
        <activity
            android:name=".MagnoInst"
            android:exported="true"
            android:label="@string/instructions"
            android:parentActivityName=".ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Outside"
            android:exported="true" />
        <activity
            android:name=".ChangingRoom"
            android:exported="true" />
        <activity
            android:name=".Bedroom"
            android:exported="true" />
        <activity
            android:name=".Bathroom"
            android:exported="true" />
        <activity
            android:name=".ChoosenActivity"
            android:exported="true"
            android:label="@string/choose_buttons"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".NewsActivity"
            android:exported="true"
            android:label="@string/news"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Instructions"
            android:label="@string/instruction"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name=".webactivity" />
        <activity
            android:name=".SmsActivity"
            android:label="@string/setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name=".CurrentLocation" />
        <activity android:name=".Flashing" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver android:name=".ScreenOnOffReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="number.action.string" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ScreenOnOffBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>